	body {
		background-color: #003355;
	    background-image: url("Forest-fire.jpg");
	}
	
   
   hr { background-color: black;
       color: black;
	   border: none;
       height: 2px;  
	   }
	   
   img#first, img#second  { display: none; }
   @media (min-width: 700px) {
   img#first {
	    display: inline;
		position: absolute;
		left: 6%;
		top: 5px;
		}
   img#second { 
		display: inline;
		position: absolute;
		right: 6%;
		top: 5px;
		}
   }
		
	#aboutHero { 
		border-color: yellow;
		background-color: #5b3321;
		box-shadow: 0 0 7px 2px rgba(255,255,0,.7);
	}
	
	#heroIcon {
		border-color: yellow;
		background-color: yellow;
	}
	
   
    #heroText {
		color: yellow;
	}
	



	
	
	
	#topBord, #bottomBord {
		color: #5b3321;
		background-color: yellow;
	}
	
	#lyrics {
		color: yellow;
		background-color: #5b3321;		
	}
	
	#lyrics h4 { color: #aaa; text-align: left;}
	
		
	li#current {
		color: yellow;
		border: 3px solid yellow;
		border-radius: 1em;
		box-shadow: -3px 3px 5px rgba(255,255,0,.7);
	}
	
	nav ul li a {
		color: #bbb;
	}
	

	nav ul li a#white:hover { 
	    color: white;
	}
	
	nav ul li a#black:hover { 
	    color: black;
	}
	
	nav ul li a#red:hover { 
	    color: red;
	}
		
		
		
		
		
		
		
		
		
		
		